/* Resetting the document's settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*added transition to make them toggling easier and nicer to look at*/
body {  
    background-color: rgb(27, 26, 26);
    transition: background-color 0.4s ease, color 0.4s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    gap: 100px;
    display: flex;
    padding: 70px;
    padding-top: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.ed-card, .calc-card, .pro-card {
    width:320px;
    height: 410px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #00ADB5;
}

.ed-card {
    width: 350px;
    margin: 20px;
    padding: 20px;
}

.pro-card {
    width: 350px;
    margin: 20px;
    overflow: auto;
}

.ed-card h2 {
    margin-bottom: 10px;
}

.ed-card, .pro-card {
    color: #393E46; 
}

.display {
    width: 95%;
    height: 55px;
    border: none;
    padding: 10px;
    font-size: 23px;
    margin-left: 8px;
    margin-top: 10px;
    font-weight: 700;
    color: #393E46;
    user-select: none;
    border-radius: 5px;
    caret-color: #2C3137;
    background-color: #ffffff;
}
.display:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.calc-buttons {
    gap: 4px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button {
    height: 60px;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    flex: 1 0 calc(25% - 4px);
    background-color: #393E46;
    transition: background-color 0.2s ease;
}

button:hover {
    cursor: pointer;
    background-color: #2C3137;
}

button:active {
    background-color: #2C3137;
}

button:focus {
    outline: 3px solid #f0faff;
}

.toggle {
    padding: 5px;
    height: 35px;
}

.light-container  {
    background-color: #cde9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.light-body {
    background-color: #FDFDFD;
}

.light-content {
    color: #005A8C;
    background-color: #FFFFFF;
}

.light-field {
    color: #005A8C;
    background-color: #FFFFFF;
}

.light-content:hover {
    background-color: #f0faff;
}

.light-toggle {
    color: #005A8C;
    background-color: #f0faff;
}

.light-toggle:hover {
    background-color: #f0faff;
}
.content {
    display: flex;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#type {
    width: 90px;
    padding: 5px;
    margin-top: 15px;
}

.title {
    padding: 2px;
    color: white;
    text-align: center;
}

.light-title {
    color: #005A8C;
}
/*making the website responsive for mobile phones*/
@media (max-width: 768px) {
    .card-container {
        gap: 20px;
        padding: 20px;
        flex-direction: column;
    }

    .calc-buttons button {
        flex: 1 0 calc(25% - 8px);
    }

    .ed-card, .calc-card, .pro-card {
        width: 100%;
        max-width: 400px;
    }

    .title, .ed-card h2, .ed-card p, .pro-card h2 {
        text-align: center;
    }
}

.pro-card h2 {
    text-align: center;
    
}

#process p {
    margin: 5px 0;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 900;
}

.h2-process {
    color: #333;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.error {
    color: #e02323;
}

.container {
    height: 410px;
    border-radius: 10px;
}
